/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:violet;
    
    background-size: cover;
    background-attachment: fixed;
    
}

header{
  padding: 5px 5px;
  
}

/*menu principale*/
nav{
    flex-grow: 1;
    width: 100%;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    
}

nav ul {
    /*pour enlever les puces*/
    list-style-type:none;
    display: flex;
}

nav li{
    
    width: 20%;
    position: relative;
    text-align: center;
    
}

nav li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
    font-weight:bold;
    background-color: violet;
    border-style:double ;
    border-width: 10px;
    border-radius: 10px;
}

nav li a:hover{
    color:white;
}

nav li.a.actif{
    color:black;
    background-color: lightgrey;
}

/*menu deroulant*/
nav li ul{
    display:none;
    position:absolute;
    width: 100%;
    z-index: 100;
}

/*menu apparait au survol*/
nav ul li:hover ul{
    display: block;
}

nav ul li:hover ul li{
    float:none;
    width: 100%;
}

.icon{
    color: black;
    font-size: 100%;
}

.header{
    width: 100%;
    border-radius: 5%;
    
}

.header2{
    width: 20%;
    border-radius: 5%;
    
    
}

h1{
    color: aqua;
    text-align: center;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: normal;
}

h2{
    color:white;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}

h3{
    color:rgb(238, 7, 169);
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: normal;
}

P{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.container {
    background-color: violet;
    border: 5px solid aqua;
    border-width: 5px;
    border-radius: 5%;
    border-radius: 2px;
    margin: 0 auto;
    width: 90%;
padding: 25px;
margin-top: 50px;
}

h3{
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: normal;
}
footer{
    display:flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color:#fb04f7;
    justify-content: flex-end;
    
}

.copyright{
    display: flex;
    position: absolute;
    /*top: 50px;*/
    left: 50px;
    font-size: 1em;
    font-weight:bold;
    
}

.social-icon{
    text-align: right;
    display: flex;
    ;
}
.social-icon li{
    position: relative;
    right: 10px;
    
    /*haut,gauche,bas,droite*/
    margin: 0px 10px 10px 0px;
    font-size: 15px;
    list-style-type: none;
    border-radius:100%;
    transition: 0.1s;
}
.social-icon a{
    display: block;
    padding: 10px;
    color: #fff;
}

.social-icon li:hover{
    transform: translate(-8px) rotate(360deg) scale(1.5);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 255);
}
.social-icon li:nth-child(1){
    background-color: #1877F2;
}
.social-icon li:nth-child(2){
    background-color: #0099FF;
}
.social-icon li:nth-child(3){
    background-color: #1DA1F2;
}
.social-icon li:nth-child(4){
    background-color: #25D366;
}
.social-icon li:nth-child(5){
    background-color: #EE1D51;
}


#image1,
#image2,
#image4,
#image5{
    float:initial;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    shape-outside: circle() ;
    margin: 0 30px 20px 0;
}


.bouton{
    display: block;
    width: 30%;
    background-color: black;
    color: antiquewhite;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: 4% auto 0 auto ;
    border-radius: 10px;

}
.textInput:focus {
    outline: none;
  }
  
  .erreur {
    color: #ff0000;
  }
  
  .invalide {
    border: 2px solid #ff0000 !important;
    background-color: #ffc0cb !important;
  }
  .valide {
    border: 2px solid #00ff00 !important;
    background-color: #ffffff !important;
  }
  .label {
    color: #ff0000;
  }
  .labelOk {
    color: #00ff00;
  }


