@import url("general.css");

.imagedefond{
    background:url("images/pa.jpg") ;
}

.liste-articles1{
    
    display:flex;
    margin:0 auto;
    width: 100%;
    justify-content: space-between;
}

.article1 {
    flex-basis: 30%;
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    justify-content: space-between;
    height: 10%;
    width: 33%;
}
.article1 p {
    font-size: 25px;
}

#image6{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 80%;
    shape-outside: circle();
    margin: 0 auto
}

#decompteJs{
    color:hwb(323 15% 11%);
    font-size: 1.5em;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:5px;
}
td{
    padding:4px
}

article{
    color: #ff0000;
    margin-bottom: 5px;
}